.ui.divider
.ui.container.column.grid
  %h1
    Current Statuses
.ui.container.three.column.stackable.grid
  .column
    %h3 Section 1
  .column
  .column
  .column
    .ui.card
      .content
        .header
          App 1
        .meta
          2-2-2
  .column
    .ui.card
      .content
        .header
          App 2
        .meta
          2-2-2
  .column
    .ui.card
      .content
        .header
          App 3
        .meta
          2-2-2
  .column
    .ui.card
      .content
        .header
          App 4
        .meta
          2-2-2
  .column
    .ui.card
      .content
        .header
          App 4
        .meta
          2-2-2
  .column
    .ui.card
      .content
        .header
          App 4
        .meta
          2-2-2
