<!DOCTYPE html>
<html>
  <head>
    <title>LCARS</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="app">
      <nav>
        <div class="ui secondary pointing menu">
          <router-link class="item" :to="{name: 'status'}">Status</router-link>
          <div class="right menu">
            <router-link class="item" :to="{name: 'apps'}">Apps</router-link>
            <router-link class="item" :to="{name: 'settings'}">Settings</router-link>
          </div>
        </div>
      </nav>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
