!!!
%html
  %head
    %title LCARS
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav
      .ui.secondary.pointing.menu
        %a.active.item Status
        %a.item Errors
    = yield
